.imagehai{
    height:540px ;
    max-width: 466px;
}
.eventstext{
    align-items: center;
  
}
.textsofevent{
   
    align-items: center;
    color: black;
margin-left: 40%;
margin-top: 150px;
}
.sub-banner-section2{
    background-image: url(drone-view.png);
    /* margin-top: 150px; */
    
    background-size: cover; /* Optional: Adjust how the background image is displayed */
    background-position: center;
    overflow: hidden;
    height: 1200px;

}