.imagehai{
    height:540px ;
    max-width: 466px;
}
.eventstext{
    align-items: center;
  
}
.textsofevent{
   
    align-items: center;
    /* color: black; */
    margin-left: 50%;
    margin-top: 150px;
}

.events-page-image{
    width: 60%;
    height: 70%;
}
