.logo1{
    height: auto;
    width: 70px;
    align-items: center;
}
.header-main-con .navbar-nav .nav-item a.nav-link {
    position: relative;
}


.header-main-con{
  
    margin-top: 0px;
    height: 400px;
}
.sub-banner-section{
    background-image: url(image2.jpeg);
 
    
    background-size: cover; 
    background-position: center;
    overflow: hidden;
    height:  400px;

}
.image1{
    height:  466px;
    width:  540px;
  
}
.about-team-member {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 350px;
    margin: 10px;
}

.teammemberimage {
   height: 400px;
   width: 350px;
    object-fit: cover; 
}