.logo1{
    height: auto;
    width: 70px;
    align-items: center;
}
.header-main-con .navbar-nav .nav-item a.nav-link {
    position: relative;
}




.image1{
    height:  30vw;
    width:  40vw;
    object-fit: cover;
  
}
.about-team-member {
    position: relative;
    display: inline-block;
    height: 400px;
    width: 350px;
    margin: 10px;
}

.teammemberimage {
   height: 400px;
   width: 350px;
   object-fit: cover;


}