.logo-img{
    width: 50px;
}

.social-logo{
    width: 15px;
    
}


#proj-1{
    background-image: url(../assets/images/drone-img.png);
    background-size: cover;
}

#proj-2{
    background-image: url(https://drive.google.com/thumbnail?id=1uVly0_GHzMj1g0hcLkmjddi_64_Euig7&sz=w1000);
    background-size: cover;

}
#proj-3{
    background-image: url(../assets/images/drone-img.png);
    background-size: cover;
 
}

.quote-img{
    height: 200px;
}

.footer-logo{
    width: 50px;
}

.event-img{
    width: 350px;
    height: 338px;
}

#progress-img{
    width: 50%;
    color: white;
    filter: invert(65%);
}


.carausel-box{
    padding-top:15%;
}
